
/*haciendo ajustes generales*/
* {
    font-family: 'Raleway';
    margin: 0;

}

/*Navbar*/

/*icono viajes chile*/
.navbar img {
    height: 2.75rem;
}

.navbar h2 {
    color: #FFFFFF;
}


/*color de fondo y color en secciones quienes somos, destacados y contacto  */
#qsomos, #destacados, #contacto {
    background-color: #000000;
    color: #FFFFFF;
}

/*¿Quiénes somos?*/

.iconfondo {
    background-color: #5bc0de;
    color: #FFFFFF;
    text-align: center;
    padding-block: 0.25rem;
}

/*Destacados */

#destacados img {
    height: 12rem;
    width: 100%;
}


/*modal contacto*/
.modal {
    color: #000000;
}
.modal img {
    height: 2rem;
}



/*FOOTER*/
footer {
    background-color: #5bc0de;
    color: #FFFFFF;
}

footer .nav {
    padding-inline: 3rem;
}
