/*CSS reset y añadiendo font family*/
body * {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Raleway",sans-serif;
}

/*Ajustando el logo del navbar*/
img {
    height: 2rem;
}

/*Ajustando imágenes carrusel*/
.tamcarrusel {
    width: 100%;
    height: 100%;
}
/*Ajustando altura del carrusel*/
.micarrusel {
    margin-top: -80px;
}